body {
  margin: 0;
  padding-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
/*   background-repeat: no-repeat; */
  background-attachment: scroll;
  background-color: rgba(60, 179, 113, 0.18);

}

.topnav {
  overflow: hidden;
  background-color:rgba(21, 67, 96, 1);
  display: inline-block;
  position: relative;
  float: left;
  border: 2px transparent black;
  margin-left: 250px;
  width: 100%;
  min-width: 800px;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 24px 26px;
  margin: 0 20px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: rgba(21, 67, 96, 1);
  color: rgba(60, 179, 113, 1);
}

.topnav a.active {
  background-color: rgba(21, 67, 96, 1);
  color: white;

}

.footer {
  position:static;
  height: 100px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(21, 67, 96, 1);
  color: white;
  text-align: center;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 142px;
}

.banner {
  width: 100%;
  display: block;
  color: rgba(21, 67, 96, 1);
}

.footbanner {
  position: static;
  float: left;
  width: 100%;
  min-width: 200px;
  display: block;
  color: rgba(21, 67, 96, 1);
}
.banner-image {
  position: static;
  color: rgba(21, 67, 96, 1);
  width: 150px;
  min-width: 150px;
  max-width: 150px;
  display: block;
  height: 100px;
  float: left;
}

.OHAAIlogobanner {
 position:fixed;
 display: inline-block;
 background: transparent;
 float:left;
 border: 3px transparent black;
 z-index: 3;
}

.copyright {
  background-color: rgba(21, 67, 96, 1);
  color: white;
  margin-bottom: 0 auto;
  }

  .main {
    color: rgba(21, 67, 96, 1);
    /*text-align: left   <--- changed to center*/
    text-align: left; 
    border: 1px transparent rgba(21, 67, 96, 1);
    padding: 10px 20px;
    margin: 10px 30px;
    overflow: visible;
    z-index: inherit;
  }

 h1 {
   text-align: center;
 }

 h3 {
   text-align: center;
   font-size: 30px;
 }

 h2 {
   text-align: center;
   color: rgba(60, 179, 113, 1);
 }

.header {
  position: fixed;
  background-color: rgba(21, 67, 96, 1);
  border: 3px transparent black;
  display:inline-block;
  width:100%;
}

/* Float the link section to the right */
.header-right {
  float: right;
}


/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

ul li {
list-style-type: none;
}

.wrapper {
width: 460px;
height: 100px;
margin: 0 auto;
}

.download {
  text-align: center;
  background-color: rgba(21, 67, 96, 1);
  color: white;
  width: 120px;
  height: 60px;
  border: 2px solid rgba(21, 67, 96, 1);
  padding: 7px 3px;
  float: left;
  margin-left: 65px;
  max-width: 120px;
  max-height: 60px;

}

.download2 {
  text-align: center;
  background-color: rgba(21, 67, 96, 1);
  color: white;
  width: 120px;
  height: 60px;
  border: 2px solid rgba(21, 67, 96, 1);
  padding: 7px 3px;
  float:right;
  margin-right: 65px;
  max-width: 120px;
  max-height: 60px;

}

.link{
  color: white;
  text-decoration: none;
}

.submission {
  text-align: center;
  background-color: rgba(60, 179, 113, 1);
  color: white;
  width: 320px;
  height: 40px;
  border: 2px solid rgba(60, 179, 113, 1);
  padding: 7px 3px;
  margin: 0 auto;
  max-width: 320px;
  max-height: 40px;
  font-size: 30px;
}

.gridcontainer {

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 100%;
  /*background-image: url(img/wordcloud6.png);*/

}

.centralcolumn {

  background-color: rgba(60, 179, 113, 0.001);
  /*border: 1px solid rgb(21, 67, 96, 1);*/
  height: 1500px;
  min-width: 500px;
}

.leftcolumn {
 background-image: url(img/wordcloud6small.png);
 height: 1500px;

}

.rightcolumn {
 background-image: url(img/wordcloud6small.png);
 height: 1500px;

}
